# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Bank.sdf
Debug/Bank.exe
Bank/Debug/Bank.log
Bank/Debug/Bank.tlog/Bank.lastbuildstate
Bank/Debug/Bank.tlog/cl.command.1.tlog
Debug/Bank.pdb
Debug/UnitTests.pdb
UnitTests/Release/vc120.pdb
UnitTests/Release/UnitTests.tlog/link.write.1.tlog
UnitTests/Release/UnitTests.tlog/link.read.1.tlog
UnitTests/Release/UnitTests.tlog/link.command.1.tlog
UnitTests/Release/UnitTests.tlog/CL.write.1.tlog
UnitTests/Release/UnitTests.tlog/UnitTests.lastbuildstate
UnitTests/Release/UnitTests.log
UnitTests/Release/Tests.obj
UnitTests/Release/sqlite3.obj
UnitTests/Release/mainTests.obj
Bank/Debug/Bank.tlog/CL.read.1.tlog